@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f0f0f0ee;
  }
  .custom-radio > div {
    box-shadow: 0 0 0 5px white;
  }
  .custom-radio > input:checked + div {
    @apply bg-blue-500;
    box-shadow: 0 0 0 2.5px white,
      0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
  }
  .checkbox-hook > input:checked + div {
    background: rgb(59 130 246 / var(--tw-bg-opacity));
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
  input,
  select,
  textarea {
    background-color: transparent;
    outline: none;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
  }
  body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
  }
}
